In [1]:
import pandas as pd

In [2]:
pd.Series([1,2,3,4,5,6,7,8,9,10])

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [54]:
s= pd.Series(['1','2','3'], index=['A','B','C'], name= 'Prod')
s2= pd.Series(['4','5','6'], index=['X','Y','Z'], name= 'Frod')

In [41]:
df= pd.DataFrame([s,s2])
df

        A    B    C    X    Y    Z
Prod    1    2    3  NaN  NaN  NaN
Frod  NaN  NaN  NaN    4    5    6

In [28]:
df.iloc[1:,0]

Frod    NaN
Name: A, dtype: object

In [30]:
df.loc['Prod','A':'C']

A    1
B    2
C    3
Name: Prod, dtype: object

In [33]:
df.set_index('A')
df

        A    B    C    X    Y    Z
Prod    1    2    3  NaN  NaN  NaN
Frod  NaN  NaN  NaN    4    5    6

In [35]:
df['A']= '33'
df

       A    B    C    X    Y    Z
Prod  33    2    3  NaN  NaN  NaN
Frod  33  NaN  NaN    4    5    6

In [55]:
df.loc['Frod','A']= 23
df

IndexingError: Too many indexers

In [53]:
df.A.map(lambda x: 0)
df

AttributeError: 'Series' object has no attribute 'A'

In [56]:
'aaa'.count('a')

3

In [21]:
a= list(range(1,11))
a[4]=800

In [3]:
b= [i**2 for i in a]
b

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
df= pd.concat([pd.Series(a),pd.Series(b)],axis=1, keys=['player','bat poition'])
df

   player  bat poition
0       1            1
1       2            4
2       3            9
3       4           16
4     800           25
5       6           36
6       7           49
7       8           64
8       9           81
9      10          100

In [23]:
idx= df['player'].idxmax()

In [25]:
df.iloc[idx,1]

25